---
import Contact from "@components/Contact.astro";
import profilePhoto from '@assets/profile.jpeg';
---


<div class="flex flex-col md:flex-row justify-center md:justify-start items-center px-5 gap-24 md:h-80">

    <img src={profilePhoto.src} alt="MiProfile"
         class="w-40 md:w-50 h-auto rounded-full"/>

    <div class="md:w-4xl">
        <h2 class="text-4xl font-semibold tracking-tight text-pretty text-darkText sm:text-4xl opacity-80">Sobre de mí</h2>
        <p class="mt-6 mb-2 text-2xl/8 text-gray-600">Soy ingeniero en sistemas informáticos con experiencia liderando el
            desarrollo de sistemas web modernos  y brindando soporte a aplicaciones legacies. Disfruto del trabajo en equipo,
            afrontar retos técnicos y seguir creciendo profesionalmente.</p>
        <Contact />
    </div>
</div>
