---

import GitHubIcon from "./icons/GitHubIcon.astro";
import LinkedInIcon from "./icons/LinkedInIcon.astro";
import EmailIcon from "./icons/EmailIcon.astro";---
<div class="flex flex-row items-center gap-3">
    <a href="https://github.com/kevinramos0" target="_blank" rel="noopener noreferrer"
       class="hover:cursor-pointer hover:scale-110 ease-in-out">
        <GitHubIcon/>
    </a>
    <a href="https://linkedin.com/in/kevin-ramos-95035b123" target="_blank" rel="noopener noreferrer"
       class="hover:cursor-pointer hover:scale-110 ease-in-out">
        <LinkedInIcon/>
    </a>
    <a href="mailto:kevin.ramos1429@gmail.com" class="hover:cursor-pointer hover:scale-110 ease-in-out">
        <span><EmailIcon/></span>
    </a>
</div>