---
---

<div class="viewport-box sr-only md:not-sr-only">
    <div class="main-circle w-[350px] h-[350px] border-secondary border-1 rounded-full"></div>
</div>

<script>
    import { initSpinningCircle } from '@data/spiningCircle.ts';
    initSpinningCircle();
</script>
